<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-creator-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-restrictedmedia-creator" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-date-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-restrictedmedia-dateStart-label"></td>
                                    <td class="csc-restrictedmedia-dateEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-restrictedmedia-dateStart" /></td>
                                    <td><input type="text" class="csc-restrictedmedia-dateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair" style="display:none">
                    <div class="header">
                        <div class="label csc-restrictedmedia-filename-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-restrictedmedia-filename" />
                    </div>
                </div>
                <div class="info-pair" style="display:none">
                    <div class="header">
                        <div class="label csc-restrictedmedia-format-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-restrictedmedia-format" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-identificationNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-restrictedmedia-identificationNumber" />
                    </div>
                </div>
                <!--div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-restrictedmedia-language-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-restrictedmedia-language input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div-->
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-contributor-label"></div>
                    </div>
                    <div class="content">
                        <input type="text" class="csc-restrictedmedia-contributor" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-publisher-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-restrictedmedia-publisher" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-rightsHolder-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-restrictedmedia-rightsHolder" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-source-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-restrictedmedia-source" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-subject-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-restrictedmedia-subject" />
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-title-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-restrictedmedia-title" />
                    </div>
                </div>
                <div class="info-pair-select">
                    <div class="header">
                        <div class="label csc-restrictedmedia-type-label"></div>
                    </div>
                    <div class="content clearfix">
                        <select class="csc-restrictedmedia-type input-select"><option value="">Options not loaded</option></select>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-updatedBy-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-restrictedmedia-updatedBy"/>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-restrictedmedia-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-restrictedmedia-updatedAtStart-label"></td>
                                    <td class="csc-restrictedmedia-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-restrictedmedia-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-restrictedmedia-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>