<div class="fl-container-flex fl-fix information-group info-column">
    <div class="fl-container-flex fl-fix content main">
        <div class="info-column">
            <div class="info-column2-50 fl-force-left">
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-claim-claimNumber-label"></div>
                    </div>
                    <div class="content clearfix">
                        <input type="text" class="csc-claim-claimNumber">
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-claim-claimClaimantOMCAGroup-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-claim-filedByOMCA-label"></td>
                                    <td class="csc-claim-filedOnBehalfOfOMCA-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="csc-claim-claimClaimantOMCAGroup">
                                    <td><input type="text" class="csc-claim-filedByOMCA" /></td>
                                    <td><input type="text" class="csc-claim-filedOnBehalfOfOMCA" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-claim-claimFiledDatesGroup">Date claim filed</div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-claim-claimFiledDatesGroupStart-label">Start</td>
                                    <td class="csc-claim-claimFiledDatesGroupEnd-label">End</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-claim-claimFiledDateStart" /></td>
                                    <td><input type="text" class="csc-claim-claimFiledDateEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="info-pair">
                    <div class="header">
                        <div class="label csc-claim-updatedAt-label"></div>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <td class="csc-claim-updatedAtStart-label"></td>
                                    <td class="csc-claim-updatedAtEnd-label"></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="csc-claim-updatedAtStart" /></td>
                                    <td><input type="text" class="csc-claim-updatedAtEnd" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
